chap4/.vs/

chap4/Sample/obj/
chap4/chap3/obj/
chap4/chap4/obj/
chap4/chap5/obj/
chap4/chap6/obj/
chap4/chap7/obj/
chap4/chap8/obj/
chap4/chap9/obj/
chap4/chap10/obj/
chap4/chap11/obj/
chap4/chap12/obj/
WpfCale/WpfCale/obj/

chap4/Sample/bin/Debug/net8.0/
chap4/chap3/bin/Debug/net8.0/
chap4/chap4/bin/Debug/net8.0/
chap4/chap5/bin/Debug/net8.0/
chap4/chap6/bin/Debug/net8.0/
chap4/chap7/bin/Debug/net8.0/
chap4/chap8/bin/Debug/net8.0/
chap4/chap9/bin/Debug/net8.0/
chap4/chap10/bin/Debug/net8.0/
chap4/chap11/bin/Debug/net8.0/
chap4/chap12/bin/Debug/net8.0/
WpfCale/WpfCale/bin/Debug/net8.0-windows/

# Visual Studio の設定ファイル
.vs/